.navbar-brand1 {
    font-size: 40px;
    justify-content: flex-end;
}

.navbar-brand {
    color: black;
    justify-content: flex-end;
}

.carousel-item {
    height: 32rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.ul, li {
    display: inline;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-left: 100px;
}

.card {
    margin-top: 30px;
}